syntax:glob
.classpath
*cpJar*
dependency-tree.log
.DS_Store
*.gpd.*
.idea
*.iml
*.ipr
*.iws
*.log
.metadata
.mylar
*.orig
.pmd
.project
.settings
bin
target
*~
*.orig
*.*_
*.iml
*.ipr
*.iws
.DS_Store
.idea
*.org
